.DS_Store
/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
features/dummy/db/*.sqlite3
features/dummy/db/*.sqlite3-journal
features/dummy/log/*.log
features/dummy/tmp/
